@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    width: 800px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 20px;
    position: sticky;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;

}
.logo-banner{
    height: 60px;
    width: 60px;
    border-radius: 20px;
}
.logo-banner:hover{
    transform: scale(0.89);
    transition: transform 0.3s ease;
}
.nav-content-left{
    display: flex;
    gap: 15px;
    align-items: baseline;
}
.nav-content-left a{
    text-decoration: none;
    color: black;
}
.nav-content-right a{
    text-decoration: none;
    color: black;
}
.nav-content-left a:hover{
    text-decoration: underline;
}
.nav-content-right a:hover{
    text-decoration: underline;
}


/* header */

header{
   margin-top: 50px;
}
header h1{
    margin-bottom: 35px;
}
#secondary-text{
    color: grey;
}
.profile-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 25px;
}
header p{
    margin-top: 20px;
    line-height: 2.1;
}
#html-text{
    border-radius: 10px;
    border: 3px dotted black;
    background-color: gainsboro;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
#css-text{
    border-radius: 10px;
    border: 3px dotted black;
    background-color: gainsboro;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
#js-text{
    border-radius: 10px;
    border: 3px dotted black;
    background-color: gainsboro;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}